[2016-03-03 13:35] isindir opened #1 "When user does not have Admin rights and trying to use Portable KeePass - plugin does not load"
Hello Cristian,

When user does not have enough Admin rights on MS Windows Server 2008 R2 and tries to use Portable version of KeePass - plugin does not load, please see image below:
[Screen Shot of an error message on picpaste.com](http://picpaste.com/6fa093d130f47110cd5b1cff573bb271.png)

I'm not sure if this is a limitation of MS Win or KeePass or Plugin itself.

Thanks

[2016-03-03 18:21] cristianst85 commented on #1
Hi, @isindir. What's the exact version of KeePass that you are running?

[2016-03-04 15:47] isindir commented on #1
Hi @cristianst85.

It is latest version of KeePass I have tried with latest plugin version:
Portable KeePass-2.31
QuickConnectPlugin-0.2.3

I have also moved it to to the Win7 box where it is installed and launched without issues. It suggests that I don't have enough permissions to load plugin on Win2008R2.

Thanks.

[2016-03-04 17:05] cristianst85 commented on #1
I've tested the plugin with KeePass-2.30 and KeePass-2.31 using an user account under Windows Server 2008 R2 but I was unable to replicate the issue.

Can you run KeePass.exe from a command prompt with the `--debug` option?

This will save the output of the compiler to a file in the current user's temporary directory.

[2016-03-04 17:37] isindir commented on #1
Here is output:

[code]

The extract from `QuickConnectUtils.cs` between lines 71-89:

[code]

[2016-03-04 23:04] cristianst85 commented on #1
When using PLGX format you need to have installed .NET 3.5 (in this case) or higher (.NET 4.0).

See Dominik's answer [here](https://sourceforge.net/p/keepass/discussion/329220/thread/2172ae03/#70bd).

[2016-03-04 23:07] #1 closed

[2016-03-04 23:29] cristianst85 commented on #1
P.S. If you cannot install/upgrade .NET on that server you can use the .dll version instead.

Download [link](http://www.disruptivesoftware.ro/projects/QuickConnectPlugin/debug/).

[2016-03-14 13:35] isindir commented on #1
Cristian,
I have tested .dll version just now. Works perfectly. Thanks!

[2016-03-14 19:41] isindir opened #2 "Feature request for putty"
Hi Cristian,

Putty by default loads "Default settings" to start a session, it would be extremely handy to be able to configure ability to load different stored session configuration when starting session. All sessions in putty are being kept in registry, so names are easily available. putty binary accepts `-load "session name"` syntax to load stored session. It could be another "matching" field i

[2016-03-16 19:13] wsniegowski opened #3 "Issue with using Field References"
When trying to pass a field reference as a username / password putty receives the text of the stored reference call instead of receiving data from the referenced entry.  e.g. when trying to use {REF:U@T:SomeEntry} putty sees {REF:U@T:SomeEntry} instead of the value stored  at U@T:SomeEntry.

[2016-03-16 20:13] cristianst85 commented on #2
One way to do this, as you mentioned already, is to have another field mapping where to store additional arguments for Putty (except username, password and host address) that will override current/default behavior.

Some examples:
`-load "session"` launches `putty.exe -load "session" -l username -pw password`
`-telnet` launches `putty.exe -telnet username@host -pw password`
[empty or missing] laun

[2016-03-16 21:43] isindir commented on #2
Let me try to explain better. If ssh client is set and is putty , and regex pattern is set in an extra field: than within "open terminal" menu item event - plugin is searching for this text in a a list of putty session names, which can be loaded from registry. First matching name should be used when launching putty via extra flag "-load". If no session name matching, then load flag not used and "d

[2016-03-18 21:50] #3 closed

[2016-03-18 21:55] cristianst85 commented on #3
Hi, @wsniegowski. Thank you for reporting this. The issue is fixed now in the latest release.

[2016-03-20 03:11] wsniegowski commented on #3
Awesome.  I'll update and give it a try.  Looks very promising to use as a
replacement for me for mRemoteNG.  Thank you!

On Fri, Mar 18, 2016 at 4:55 PM, Cristian Stoica notifications@github.com
wrote:

[2016-04-13 18:07] cristianst85 commented on #2
A new version with the requested feature is available for download [here](https://github.com/cristianst85/QuickConnectPlugin/releases/tag/0.3.0-rc.1).

Same field can be used for specifying both the `Connection Method` and the `Additional
Options` (only for PuTTY).

The syntax for `Additional Options` is: `[{ssh|telnet}|<os_type>;]session:"<regex_pattern>"`

Examples:
- session:"My Session"
- ssh;

[2016-04-26 15:56] cristianst85 commented on #2
@isindir, have you had the chance to test this release?

[2016-04-26 16:24] isindir commented on #2
Hi Cristian, apologies for late response.

2 issues noticed:
- when plugin loads it does not check if it is already loaded in keepass. I had an old version of plugin, and unarchieved new version in keepass folder - which produced 3 copies of plugin in total (2 in subfolders). All copies produced menu items in _Main Menu:Tools_ and produced menu items in keepass entry _popup menu_.
- I'm using name

[2016-04-26 17:03] cristianst85 commented on #2
- Regarding the first issue in not really a plugin issue, but that's how KeePass loads the plugins in generally.
- Secondly, you need to map Additional options (QuickConnect -> Options -> Map Fields) to the field containing the session name (see the pic below). In your case that would be the `Title` field.

![quickconnectplugin-additional-options-mapping](https://cloud.githubusercontent.com/assets

[2016-05-10 21:38] jtryon opened #4 "Sending -pw option when connecting via telnet"
Hi,

Think this might be an easy fix on your end.  When connecting via telnet you should just skip sending the password altogether.  Otherwise the quickconnect via putty fails with:
"the -pw option can only be used with the ssh protocol"

Think this is just due to how telnet sessions tend to take passwords.

[2016-05-11 12:09] cristianst85 commented on #4
@jtryon, thank you for reporting this.

I've fixed it in the latest [release](https://github.com/cristianst85/QuickConnectPlugin/releases/tag/0.3.0-rc.2), but it seems now that connecting via Telnet is a two step process:
- launch PuTTY via QuickConnect;
- use Perform Auto-Type.

Also the default auto-type sequence needs to be overridden to `{USERNAME}{ENTER}{PASSWORD}{ENTER}`.

[2016-05-11 18:35] #4 closed

[2016-05-16 22:35] jtryon opened #5 "Feature Request: Using Tags"
I think it could potentially be useful to scan tags for the protocol to use when connecting as well.
In our case the front end I use for keepass ends up storing this information under a tag such as "ssh" or "rdp".

[2016-05-16 22:47] cristianst85 commented on #5
If I understand correctly your request I think this is already supported in [latest](https://github.com/cristianst85/QuickConnectPlugin/releases/tag/0.3.0-rc.2) version - currently on the [dev](https://github.com/cristianst85/QuickConnectPlugin/tree/dev) branch (see [usage](https://github.com/cristianst85/QuickConnectPlugin/tree/dev#usage)).

[2016-05-17 14:34] isindir commented on #2
@cristianst85 ,

I have done a little bit more testing today:
- QuickConnect Options:

[code]
- Entry in KeePass is configured as follows:

[code]
- Putty configuration contains exact this session name configured as it is set in KeePass and colors are not picked up from this session, when launching putty session. In my case there is only one session name configured which does contain `"dark_blue"`

[2016-05-17 17:31] jtryon commented on #5
You're right, this works as intended!  Marking closed.  Thanks.

[2016-05-17 17:31] #5 closed

[2016-05-25 15:01] cristianst85 commented on #2
@isindir,

it should work now with the latest [release](https://github.com/cristianst85/QuickConnectPlugin/releases/tag/0.3.0-rc.3). PuTTY stores special chars escaped in Windows Registry.

Raising an exception when using `"*dark_blue*"` is the expected behavior because that is not a valid regex expression (instead one should use `".*dark_blue.*"` for matching all occurrences that contains `dark_b

[2016-05-26 10:46] isindir commented on #2
@cristianst85 ,

looks funny, it now picks correct session, but may not connect via ssh: putty window stays blank.

I have tried to launch it from cmd, by getting exact command from powershell, like so:
`Get-WmiObject Win32_Process -Filter "name = 'putty.exe'" | select CommandLine`

Getting following result:

[code]

Trying to launch it from cmd gives me same result as from Keepass , looks like so

[2016-06-25 05:32] isindir commented on #2
Lost ability to test - do not have MS Windows box available

[2016-07-03 06:52] tarampampam opened #7 "Override default SSH port"
Hi dude!

Please, say - how i can set up specific ports for ssh connection entries? For example, string for starting putty must have this view:
`D:\some\path\to\PuTTYPortable.exe -ssh -l myUsername -pw myPassword -P 16761 -load "myProfile" 1.2.3.4`

[2016-07-03 08:49] cristianst85 commented on #7
Hi, @tarampampam.

Overriding the default SSH port is not supported at the moment, but it can be implemented.

[2016-07-03 12:28] cristianst85 commented on #7
A new version with the requested feature is available for download [here](https://github.com/cristianst85/QuickConnectPlugin/releases/tag/0.3.0-rc.4) - we are currently on the [dev](https://github.com/cristianst85/QuickConnectPlugin/tree/dev) branch (see [usage](https://github.com/cristianst85/QuickConnectPlugin/tree/dev#usage)).

The default port can be overridden via `Additional options`. Given

[2016-07-03 13:06] tarampampam commented on #7
Great thx! But now i set this in uri field, and all works fine:

[code]

[2016-07-03 13:06] #7 closed

[2016-07-03 15:47] cristianst85 commented on #2
I'll close this for now, but feel free to reopen if you consider that we can further improve it.

P.S. Thank you for you feedback.

[2016-07-03 15:47] #2 closed

[2016-09-08 07:16] JonTheNiceGuy opened #8 "Plugin can't load - VMWare missing DLL"
I get the following message:

Could not find a part of the path 'C:\Program Files (x86)\VMWare\Infrastructure\vSphere PowerCLI\VMware.Vim.dll'. mscorlib

I have the vSphere 5.0 client loaded (in C:\Program Files (x86)\VMware\Infrastructure\Virtual Infrastructure Client), but not this part?

[2016-09-08 08:16] cristianst85 commented on #8
Hi, @JonTheNiceGuy. Thank you for reporting this.

I'm assuming that you are using the .plgx version of the plugin, so you'll need to install [vSphere PowerCLI version 5.8.0](https://developercenter.vmware.com/tool/vsphere_powercli/5.8.0) (see [dev](https://github.com/cristianst85/QuickConnectPlugin/tree/dev#requirements-1)).

Otherwise, you can use the .dll version instead and the plugin will loa

[2016-09-08 17:34] cristianst85 commented on #8
I'm changing the code to dynamically load `VMware.Vim.dll` at runtime. This way the .plgx can be used without having to install **vSphere PowerCLI**.

Any thoughts on this?

P.S. _vSphere PowerCLI_ is required only to change passwords for ESXi hosts.

[2016-09-08 19:12] JonTheNiceGuy commented on #8
I think that's fine, and to be honest, I think it would have been fine if you'd mentioned the additional requirement, it wouldn't have been a problem, but if it isn't required, so much the better!

[2016-09-10 22:18] willstdueswissen opened #9 "Enchancement idea: external programm"
i see your plugin and i get an idea.
A simple gui list with
__________________________
|Protocol | Programmcall |
|              |                       |

You can add a new "protocol":
_________________________________________________________________________
|Protocol | Programmcall                                                                        |
|ssh         | C:\...\putty.exe ssh://$use

[2016-09-13 15:37] cristianst85 commented on #8
I've just released a new [version](https://github.com/cristianst85/QuickConnectPlugin/releases/tag/0.4.0-rc.2) that fixes the addressed issue.

Thanks again.

[2016-09-13 15:37] #8 closed

[2016-09-29 14:30] Vitriia opened #10 "Custom fields provided by KPEntryTemplates plugin are not shown in Options dialog"
Hi,
I have dl your plugin in v 4.0RC2 yesterday.
So i do not manage to parametrize 😢
Maybe it's because my fields are in Template (from Entry Templates for KeePass by Mitch Capper). But my fields are into avanced tab too.

Can you help me or export your sample ?

Windows 10
KeePass 2.34
.Net Framework 4

P.s: Sorry for my bad english :'(

[2016-09-29 18:02] wanderleihuttel commented on #10
Take a look.
![quickconnect](https://cloud.githubusercontent.com/assets/16232272/18965948/abc02136-8655-11e6-85b5-45f9d6f08110.png)

[2016-09-29 18:22] Vitriia commented on #10
It works but not with Custom fields

[2016-09-29 18:23] cristianst85 commented on #10
<s>I've installed KPEntryTemplates and the fields provided by template are showing up in the drop-down list.</s>

Edit: 29/11/2016
@Vitriia, you were right. Custom fields provided by KPEntryTemplates are listed only if there is at least one entry that has the template parent set.

[2016-09-29 18:30] cristianst85 opened #11 "[PasswordChanger] Cannot change password when 'keyboard-interactive authentication' method is not available."

[2016-09-29 18:45] wanderleihuttel opened #12 "Possibility to load sessions saved from putty"
Hello.
Should be interesting if would be possible to run sessions from Putty, because by default putty use default charset as ISO8859-1 and many servers are UTF8.
Example:
putty -load "Putty Session Name" -l root -pw password

Commands
https://the.earth.li/~sgtatham/putty/0.67/puttydoc.txt

[2016-09-29 18:53] cristianst85 commented on #12
Hi!
Please check this https://github.com/cristianst85/QuickConnectPlugin/issues/2#issuecomment-209572373

[2016-09-29 19:02] wanderleihuttel commented on #12
Thanks Cristian

Should be interesting include this information in readme.

Best Regards

_Wanderlei Hüttel_

2016-09-29 15:53 GMT-03:00 Cristian Stoica notifications@github.com:

[2016-09-29 19:07] cristianst85 commented on #12
I know that this is somewhat confusing, but we are now on the [dev](https://github.com/cristianst85/QuickConnectPlugin/tree/dev) branch. Maybe I should set it as default.

Please let me know if that works for what you need. Thanks!

[2016-10-11 09:15] magmax opened #13 "Allow mRemoteNG integration"
In order to allow tabs, it should be helpfull to allow mRemoteNG integration.

It could create a connection file and then run mRemoteNG with that connection file.

It may be unsecure, but useful.

[2016-10-12 15:36] cristianst85 commented on #13
Tabs? I'm not familiar with mRemoteNG.

[2016-10-12 15:45] cristianst85 commented on #10
@Vitriia, feedback?

[2016-10-13 16:50] Vitriia commented on #10
I have try with some custom fields (Connection method and _etm_position_*****) and it don't work :/
One of my tests:
- I set a template with _etm_position_connect custom field
- I set QC option with url as host adress and my custom field as connection method
- I enter ssh into the field and an adress into the url no changes
- So if i modify my custom field with "note" field and modify QC option it

[2016-11-14 11:38] magmax commented on #13
mRemoteNG is a RDP free client, but it has tabs.

After thinking about it for a while, I think this should not be a KeePass action. It should be a mRemoteNG plugin, in order to use KeePass passwords, so I close this issue.

[2016-11-14 11:38] #13 closed

[2016-11-14 11:45] magmax opened #14 "Additional parameters not working."
I need the additional parameters option in order to:

- Use ssh credentials file instead of user/password
- change the connection port.

But I am not able to make it work. After browsing the code (QuickConnectPluginSettings.cs), I think it is not implemented. Am I wrong? Should I write any magic key in my notes in order to use them?

**Example:**

Currently I'm using the full line like this with p

[2016-11-15 07:20] cristianst85 commented on #14
Hi, @magmax.

At the moment only `port` parameter is supported. Please, see the [usage](https://github.com/cristianst85/QuickConnectPlugin/tree/dev#usage) on dev branch.

[2016-11-21 21:57] #11 closed

[2016-11-22 21:48] #12 closed

[2016-11-23 23:09] cristianst85 commented on #14
Could you try this [build](http://www.disruptivesoftware.ro/projects/QuickConnectPlugin/nightly/0.4.0-rc.2-20161124-266baf3/)?

Add to the field that is mapped to _Additional options_ something like this:
`ssh;port:2672;key:"c:\whatever\foo.ppk"`

Also, if you need to load a session:
`ssh;session:"Default Settings";port:2672;key:"c:\whatever\foo.ppk"`

[2016-11-24 00:11] cristianst85 commented on #10
I think you need to map to the template Field Name (i.e. _CustomFieldName_ in my case). I'm not sure why the fields starting with __etm_ are showing in the drop-down list.

![01-kp-template](https://cloud.githubusercontent.com/assets/12585988/20582554/c0beb672-b1ea-11e6-9413-015be1b8a5a3.png)
![02-kp-entry](https://cloud.githubusercontent.com/assets/12585988/20582552/c0be5772-b1ea-11e6-8cd9-c9f2ef

[2016-11-29 22:14] cristianst85 commented on #10
I'm working on a fix for this. Also, I've updated my comment [here](https://github.com/cristianst85/QuickConnectPlugin/issues/10#issuecomment-250549869).

[2016-11-30 16:10] cristianst85 commented on #10
@Vitriia, it should work now. Could you try this [build](http://www.disruptivesoftware.ro/projects/QuickConnectPlugin/nightly/0.4.0-rc.2-20161130-97011b7/)?

Also, I've filtered out from the drop-down list the fields that begin with _etm_.

![01-kp-template-custom-fields](https://cloud.githubusercontent.com/assets/12585988/20759925/1b1a145e-b727-11e6-89d0-50564a4cc9b7.png)
![02-kp-advanced](https:

[2016-12-27 15:07] magmax commented on #14
It worked perfectly well.
I only tried the key option, because I'm using the default port 22 for SSH.

[2016-12-27 15:08] magmax commented on #14
By the way... Does the "port" option work with RDP?

[2016-12-27 18:10] cristianst85 commented on #14
No. You can try to put the port right after the ip address (i.e. `ipAddress:port`). But, this will probably break the password changing feature.

See [mstsc command syntax](https://technet.microsoft.com/en-us/library/cc753907(v=ws.11).aspx).

[2016-12-27 18:30] #14 closed

[2017-02-13 09:51] moose999 opened #15 "Take port numbers from host address"
I have SSH servers that run on non-standard ports. I store host addresses in my URL field like hostname:port. Please can you read the port number as well at the FQDN?

[2017-02-13 09:55] moose999 opened #16 "Additional field for RDP Gateway server"
I connect to many of my RDP hosts via an RDP gateway. You cannot specify the gateway address directly through the command line, but it is possible to build a temporary .RDP connection file every connection. This would allow connection directly to any RDP server. Here is a thread from experts-exchange:

https://www.experts-exchange.com/questions/28342241/Remote-Desktop-Client-CLI-RDP-Gateway.html

[2017-02-13 09:56] moose999 commented on #9
This would also fix my issue https://github.com/cristianst85/QuickConnectPlugin/issues/15 👍

[2017-02-13 20:36] cristianst85 commented on #9
I'm not sure if I'll implement this feature. Please, check this [plugin](https://github.com/aalbng/AdvancedConnectPlugin) instead.

[2017-02-13 20:50] cristianst85 commented on #15
Can you give me some concrete examples?

Thank you.

[2017-02-14 08:37] SirScythe commented on #15
I'd love that too,

for example if ssh is running on port 1234 you change the URL field to example.com:1234 and putty connects to example.com over port 1234

[2017-02-14 10:32] moose999 commented on #15
Many guides recommend changing SSH ports to reduce logfile clutter, so it should be a common request. As you mentioned on another feature request, [this plugin](https://github.com/aalbng/AdvancedConnectPlugin) should be able to do it.

[2017-02-21 00:19] cristianst85 commented on #15
Hey guys, you should try this [build](http://www.disruptivesoftware.ro/projects/QuickConnectPlugin/nightly/0.4.0-rc.2-20170221-fb4fe94/).

[2017-02-21 16:42] moose999 commented on #15
Works for me - thanks!

[2017-02-24 14:26] thipages commented on #2
Hi,
I would like to add SSH tunnels informations while logging with putty, in particular using PortForwardings field

What I have done
1. Fill in a new map field in KeePass "PortForwardings" -> "L1234=127.0.0.1:1234"
2. Fill in Quick Connect>Options>Map Fields>Additional options with "PortForwardings"

But it is not working.

 Can you help me?
Thank you

[2017-02-24 14:37] wanderleihuttel commented on #2
Hello. You can configure a Session on Putty with this configurations and on KeepSafe use the following config:

SSH;session:"Some Session Name"

Best Regards
Wanderlei

[2017-02-24 14:45] thipages commented on #2
Perfect!

What I have done in details

1. Fill in a new map field in KeePass "session" -> "SSH;session:myPuttySession"
2. Fill in Quick Connect>Options>Map Fields>Additional options with "session"

Thank you for your quick answer!

[2017-03-31 00:03] #15 closed

[2017-03-31 00:04] #10 closed

[2017-06-30 09:16] drummer3333 opened #18 "Support PsPasswd v1.24"
Can't find the old Version anywhere.

[2017-06-30 09:25] cristianst85 commented on #18
I’ll replace PsPasswd with native implementation in the next verison.

Sent from my Windows 10 phone

From: drummer3333
Sent: Friday, June 30, 2017 12:16
To: cristianst85/QuickConnectPlugin
Cc: Subscribed
Subject: [cristianst85/QuickConnectPlugin] Support PsPasswd v1.24 (#18)

Can't find the old Version anywhere.
—
You are receiving this because you are subscribed to this thread.
Reply to this ema

[2017-08-25 14:45] marc0l92 opened #19 "Launch WinSCP using a password with the "vertical bar" character"
If the password used to access the remote server using WinSCP contains the special character | (vertical bar) the command is not executed correctly or it does not contains the remote URL.

**Example 1 - Vertical bar in the middle of the password**
_Entry_
Title: My server
User Name: admin
Password: aaaa|aaaa
URL: 192.168.1.11
Note: ssh

_**Result:** WinSCP does not start_

**Example 2 - Vertical b

[2017-08-25 21:46] #19 closed

[2017-08-27 20:18] cristianst85 commented on #19
I've just released version [0.4.2](https://github.com/cristianst85/QuickConnectPlugin/releases/tag/0.4.2) that fixes the addressed issue.

Thank you.

[2017-08-28 00:36] marc0l92 commented on #19
Thank you for this very useful plugin

[2017-11-30 08:07] snodo opened #20 "Integration to Menu of the System-Tray-Icon"
Usually you will only have a few entries with a matching connection method.
It would be nice if all of those could be accessible directly in the Tray.
(Or maybe just the "recent 5 connections" or something like that to not blow up the tray menu)

It would be much easier than opening KeePass, navigate to the correct group, find the entry and do a right click there.

[2017-11-30 08:29] snodo opened #21 "RDP should load settings from Default.rdp"
QuickConnectPlugin should search for the "Default.rdp" file and if it exists, it should be used when starting a connection.

[2017-11-30 08:31] snodo opened #22 "RDP options with "additional options" field?"
Maybe it is possible to allow some of the RDP options in the "Additional options" field?
(What I am exactly looking for is to define a display resolution)

Or another aproach: Define a *.rdp file to load. (See also #21 - always load Default.rdp)

[2017-12-01 13:52] salvorapi opened #23 "Shortcut keys to access function"
I think that a great feature can be to implement shortcut keys for access menu function.

Thank you.

Salvo.

[2017-12-04 15:23] brakkio86 opened #24 "Change password does not work for non-root users"
Change password on  RHEL does not work and I receive this error:
![immagine](https://user-images.githubusercontent.com/25152/33560166-419a4bfc-d90f-11e7-8ea2-b609154aeac4.png)

If I use the batch password changer, I see this log:
[2017-12-04 16:22:40] System.Exception: Error changing password. Expected 'New Password' string/pattern from shell, but got null.
   in QuickConnectPlugin.PasswordChanger

[2017-12-06 20:55] cristianst85 commented on #24
Hi @brakkio86,

Thank you for reporting this issue.

Connect to your server using a SSH client (e.g. PuTTY) and try to change the password by issuing the `passwd` command. Copy-paste your server response here or if that could be a security issue send me an email (you can find it by accessing the _QuickConnectPlugin_ from KeePass > _About_ dialog).

A typical server response to `passwd` command wou

[2017-12-06 20:57] cristianst85 commented on #23
Hi Salvo,

Could you please be more specific about this request?

Thanks,

[2017-12-07 11:38] salvorapi commented on #23
I use your plugin because it's easy access a VM via Putty or WinSCP with credentials stored on KeePass.

But for run Putty or WinSCP over an item I need to open drop-down menu first.

A shortcut key for Putty (SHIFT+ALT+P for example) or  WinSCP (SHIFT+ALT+W) can reduce time for access a VM .

Thank you.

Salvo.

[2017-12-11 11:43] brakkio86 commented on #24
Hello,

I'm using RedHat EL 6.x server and password change is made by the user, not
by root (as shown in your example). I've just change the user and
servername to hide the real one, but here you have the output:
[USER@SERVER ~]$ passwd
Changing password for user USER.
Changing password for USER.
(current) UNIX password:
New password:
Retype new password:
passwd: all authentication tokens updated

[2018-03-23 15:05] nikagl opened #25 "Pre-authentication for RDP"
Hi,

Thanks for a great plugin! :)

Works for most of my RDP sessions. One location though requires you to pre-authenticate before the RDP connection is made. When using mstsc.exe that is done automatically (before connecting it popsup an authentication message and as soon as you enter details it opens RDP and automatically logs in), but when using QuickConnect from Keepass it says the connection

[2018-03-26 18:20] cristianst85 commented on #25
Hi, @nikagl.

Thank you for your feedback!

Unfortunately is hard for me to say why this is not working :(

For _Remote Desktop_ the plugin does the following:
1) Stores the credentials into _Windows Vault_ (_Control Panel_ > _Credential Manager_):
`cmdkey.exe /generic:TERMSRV/{ipAddress} /user:{username} /pass:{password}`
2) Launches _Remote Desktop Connection_:
`mstsc.exe /v:{ipAddress} /f`
For

[2018-03-27 12:03] nikagl commented on #25
Hi Cristian,

Thanks for the details. I'll test it when I am at the location where it fails, and let you know in which bit it fails. For me it looks like it fails when RDP is setting up the connection and needs to know whether it's allowed to do that and uses somekind of pre-authentication, but I have not found details about how that works in RDP. So maybe using your commands give me some more ins

[2018-03-30 08:32] nikagl commented on #25
Ok... user error....sorry, will close this ticket. It was caused by the person between keyboard en display because he used the wrong account... sorry again (nevertheless good to know how it works :) )

[2018-03-30 08:32] #25 closed

[2018-03-31 08:14] #24 closed

[2018-09-16 10:31] GroteVriendelijkeReus opened #26 "not compatible anymore with Keepass 2.40"
As of Keepass 2.40, the dll isn't compatible anymore.
Below you may find the error shown.
![keepass](https://user-images.githubusercontent.com/12912050/45595449-56687580-b9ac-11e8-9f15-a90170b9839a.jpg)

os: win 10 x64

[2018-09-16 11:50] cristianst85 commented on #26
Hi @GroteVriendelijkeReus,

Thank you for reporting this issue.

Please use the .plgx version as a workaround if that's possible until I have some time to look into this.

[2018-09-22 16:08] cristianst85 commented on #26
A fix will be provided soon.

Meanwhile another **workaround** would be to copy **Renci.SshNet.dll** ([download here](https://github.com/cristianst85/QuickConnectPlugin/blob/master/libs/Renci.SshNet.dll)) to KeePass Plugins directory.

![keepass_2 40_quickconnectplugin_workaround](https://user-images.githubusercontent.com/12585988/45919365-e4f16100-be9c-11e8-8037-9571c0f47cc6.png)

For future refe

[2018-09-25 22:10] GroteVriendelijkeReus commented on #26
Thank you so far!

[2018-10-10 18:44] cyberknet opened #27 "Pass custom command line arguments to Putty"
I'd like to pass custom command line arguments to Putty when launching to configure SSH port forwarding. The current set up does not appear to do this.

Steps to reproduce:

1. I set up QuickConnect to use a custom field for "Additional options from" - field name "options"
2. I populated the custom field for an entry with the requisite putty options.
3. I right clicked the entry and launched Putty

[2018-10-10 21:48] #26 closed

[2018-10-11 18:59] cristianst85 commented on #27
Hi @cyberknet,

The supported arguments (_session type_, _session_, _port_, _ssh_key_) for Putty are quite limited as you already found out. I not sure what you are trying to do as I'm not that familiar with your use case. Can you give some concrete examples?

As for the second issue, do you want that password passing for Putty to be disabled globally, or per entry? Can you point me to any documen

[2018-10-11 21:23] cyberknet commented on #27
Hi @cristianst85,

Agent authentication is actually working just fine after the password authentication fails. I just need to disable the password from being sent. Globally would be fine for me as I use cert-based login everywhere... but I imagine some people aren't so lucky due to company policy, etc.

I can give you a concrete example of the argument I want to pass to Putty... but just a note th

[2018-10-11 21:36] cristianst85 commented on #26
I've just released version [0.4.4](https://github.com/cristianst85/QuickConnectPlugin/releases/tag/0.4.4) that fixes the addressed issue.

[2018-10-29 15:08] cyberknet commented on #27
Is there any more information I can provide to help out here? If you point me in the right direction, I could look at providing a patch myself.

[2018-10-30 18:37] cristianst85 commented on #27
Sorry about that, but I had some crazy weeks. :(
I'll try to come up with something in the next following days.

[2018-10-31 19:57] cyberknet commented on #27
Sad to hear about your troubling time. I am happy to help out if you like, just let me know how, point me in the right direction and I will get to work. Appreciate the plugin and everything you have done with it!

[2018-11-03 00:28] cristianst85 commented on #27
I created a WIP branch [wip-custom-command-line-args-putty](https://github.com/cristianst85/QuickConnectPlugin/tree/wip-custom-command-line-args-putty).

New setting '**Disable CLI password for Putty**' was added to disable password being sent via command line arguments for Putty.

![image](https://user-images.githubusercontent.com/12585988/47944633-6bba4480-df05-11e8-8db2-dfb3babde1d9.png)

New _

[2018-11-15 06:13] cristianst85 commented on #27
@cyberknet, have you had any chance to test the preview release?

[2018-11-15 16:03] cyberknet commented on #27
Sorry @cristianst85 ... I missed your comment. I am installing it now and will give you feedback by the end of the day. I do apologize for wasting two weeks of your time after you put in the effort to meet my feature request.

[2018-11-15 16:35] cyberknet commented on #27
Just tested both of these features. I verified the password is not send on the command line when the option is selected. passing custom command line arguments is working perfectly! This is a great implementation for what i needed, thank you!

[2018-11-15 20:17] cristianst85 commented on #27
No worries. I'll keep this open until the end of next week, then I'll merge it to _master_.

Please let me know if it needs some additional fine-tuning :)

[2018-12-05 20:53] #27 closed

[2018-12-13 01:53] jiangyf70 commented on #22
how to  define a display resolution?

[2018-12-13 19:43] cristianst85 commented on #22
At this moment is not possible to define display resolution or any other RDP parameter via _additional options_ field.

[2019-01-10 08:21] pickeld commented on #23
totally agree with @salvorapi

[2019-01-17 20:25] cristianst85 commented on #23
I'll look into it.

[2019-05-20 11:36] techie2000 opened #28 "Greyed out menu option"
I've configured the hostname and connection method mappings, and can see the additional right-click options appear on entries where these fields have been entered. However, the "Open ____" options are greyed out/unusable. This differs to entries where I have not defined the connection method where the right-click option to "Open" is not available, ie the plugin is recognising my mappings.

Running

[2019-05-21 19:18] cristianst85 commented on #28
Hi @techie2000,

What operating system are you using KeePass on?
Are you using any other plugins?

Other things to check:
 - is Putty/WinSCP installed/configured (see QuickConnect Options > General tab > SSH Client Path/WinSCP Path; both paths can be left blank if applications are installed in their default directory, i.e. _Program Files_)
 - _Host address_ needs to be mapped to a different field

[2019-07-22 11:55] ben12 opened #29 "WinSCP - password must be URL encoded"
Password must be URL encoded.

One of my password contains a slash "/", it must be replaced by "%2F" in the command to work.
`"C:\WinSCP\WinSCP.exe"  scp://dev:"my/password"@192.1681.1`
must be:
`"C:\WinSCP\WinSCP.exe"  scp://dev:"my%2Fpassword"@192.1681.1`

[2019-07-22 23:20] cristianst85 commented on #29
Hi @ben12,

Thank you for reporting this. I'll post an update in the following days with the fix.

Cristian,

[2019-07-24 21:48] cristianst85 commented on #29
This version should fix your current issue with the encodings, can you test it?

Please note that this release also includes fixes for issues #23 and #27.

[QuickConnectPlugin-0.5.2-20190725-e6b084b.zip](https://github.com/cristianst85/QuickConnectPlugin/files/3428862/QuickConnectPlugin-0.5.2-20190725-e6b084b.zip)

[2019-07-24 21:57] cristianst85 commented on #28
Hello @techie2000, did you figure it already or are you still experiencing this issue?

[2019-07-24 22:20] cristianst85 commented on #23
I know this is long overdue, but can someone test it to see if it's working as expected?

https://github.com/cristianst85/QuickConnectPlugin/files/3428862/QuickConnectPlugin-0.5.2-20190725-e6b084b.zip

[2019-07-25 09:15] ben12 commented on #29
It works fine now. Thanks !

[2019-08-14 12:15] mabroukb opened #30 "Putty encoding password"
Hi,

I have single quote and double quote in password for connecting to ssh servers.
The argument formater for putty doesnt handle this.

I found that using HttpUtility.JavaScriptStringEncode method, one can escape those caracters.

Can you use this method or find a more appropriate one ?

Thank you,

[2019-08-14 12:17] mabroukb commented on #30
By the way, I tried the package from the issue  https://github.com/cristianst85/QuickConnectPlugin/issues/29 and found that it can handle winscp but not putty argument.

And the winscp argument formatter uses urlencoding but putty cannot handle url encoded characters.

[2019-08-14 12:18] mabroukb commented on #29
Hello,
I too tested it with single and double quote in passwords.
It works fine !

[2019-08-14 12:22] cristianst85 commented on #30
Hi @mabroukb, let me look into this.

[2019-08-21 08:18] cristianst85 commented on #30
From what I can tell the only issue is with double-quotes ("). Can you please test this version?

[QuickConnectPlugin-0.5.2-20190821-e6262d0.zip](https://github.com/cristianst85/QuickConnectPlugin/files/3524235/QuickConnectPlugin-0.5.2-20190821-e6262d0.zip)

[2019-08-21 08:34] mabroukb commented on #30
It works fine.
Thank you !

[2019-08-21 22:18] #23 closed

[2019-08-21 22:18] #29 closed

[2019-08-21 22:18] #30 closed

[2019-08-22 14:33] binkow commented on #18
Hello,

Is there any update on this? Would love to use this feature but unfortunately there isn't a link for PsPasswd v1.24 offered by Microsoft anymore.

[2019-08-22 18:53] cristianst85 commented on #18
Hi @binkow,

The idea was to drop PsPasswd and use directly Windows API. There is a working branch, but I was unable to find a complete solution.

P.S. Probably you meant v1.22 as this is the only version that is properly working, hence the reason why it was locked-in. Other versions (i.e., 1.23, 1.24) of PsPasswd are broken - see [here](https://nerddrivel.com/2015/11/19/changing-local-administrat

[2019-08-27 10:14] techie2000 commented on #28
Win10

No, this is my first

These were not set (as I was trialling the plugin with rdp. I have now added these paths, but see the same results.

This was the key one... I was (stupidly) expecting it to be picked up from the Title field (all my connections are setup such that Title = hostname). Having returned to this in a fresh light, I can't believe I ever thought that would work!

Thanks for th

[2019-08-27 10:14] #28 closed

[2020-02-26 12:47] lxitdn opened #31 "GeneratedAssemblyInfo.cs, where is this file obtained?"
![QQ截图20200226204528](https://user-images.githubusercontent.com/16263881/75346152-0f88ea00-58d9-11ea-993a-1e6307b77367.jpg)

![6](https://user-images.githubusercontent.com/16263881/75346586-01879900-58da-11ea-878c-54d8a347aa41.jpg)

Hello author,

I want to translate your code plug-in into my native language, but it prompts me that this file is missing when compiling, how should I get this file

[2020-03-07 13:41] cristianst85 commented on #31
GeneratedAssemblyInfo.cs is auto-generated when the solution is being built.

From the error you got it seems that the VS build tools cannot find **git.exe**.

![image](https://user-images.githubusercontent.com/12585988/76144687-9ed98e80-608b-11ea-8786-2b5f8ba1e797.png)

[2020-03-17 12:48] lxitdn commented on #31
What should I do? I am stuck here now

[2020-03-20 07:50] cristianst85 commented on #31
First make sure you have [Git for Windows](https://gitforwindows.org/) installed.

To test this open a `cmd` and type `git --version`.

If git is properly installed then it should display the current git version installed on your machine.

e.g.: `git version 2.24.1.windows.2`

[2020-04-15 20:26] cristianst85 commented on #31
@lxitdn, have you managed to solve this issue?

[2020-05-07 20:53] xeropresence opened #32 "Support keepass 2.45"
Keepass 2.45 throws an exception when attempting to load the plugin

Recompiling against the latest executable resolved the issue.

Resolved by https://github.com/cristianst85/QuickConnectPlugin/pull/33

[2020-05-07 22:15] cristianst85 commented on #32
It seems that only the dll version is affected.

I'm attaching the error here for further reference.
![image](https://user-images.githubusercontent.com/12585988/81349510-c9b28400-90c8-11ea-933f-40e87b14bf47.png)

[2020-05-07 23:27] #32 closed

[2020-05-07 23:38] cristianst85 commented on #32
Version [0.5.3](https://github.com/cristianst85/QuickConnectPlugin/releases/tag/0.5.3) was published.

Thank you!

[2020-08-30 14:14] #31 closed

[2022-04-20 15:44] gilles007- opened #34 "i can't compile"
hello
i have the same problem in issue #31
i don't have the file "GeneratedAssemblyInfo.cs"
and i got an error with the task GitVersion.
I have installed git for windows
I think it's 2 different problems

[2022-04-20 22:15] gilles007- commented on #34
so i have edited and modified a lot of files to remove references
i can now compile without this file and errors
then i run build.bat to generate the plugin (after editing it to remove check)

[2022-04-20 22:15] #34 closed

[2022-04-20 22:15] cristianst85 commented on #34
Hello.

As I said before GeneratedAssemblyInfo.cs is auto-generated when the solution is being built.

Can you provide more information?

Which version of Visual Studio are you using?
Which version of Git do you have?
Can you post the error(s) or some screenshots?
Are you trying to build from a fresh Git clone?
Etc.

Otherwise it's impossible for me to say what is going on your machine.

P.S. I ca

[2022-04-20 22:35] gilles007- commented on #34
_As I said before GeneratedAssemblyInfo.cs is auto-generated when the solution is being built._
this is the problem : the file is not auto-generated.
why not provide this file directly ?

_Which version of Visual Studio are you using?_
Visual Studio 2019 here (16.5.4), deprecated if i trust the message on top
Visual Studio 2022 is current today

_Which version of Git do you have?_
I downloaded the

[2022-04-20 22:43] cristianst85 commented on #34
The whole idea for GeneratedAssemblyInfo.cs being generated at build time is because it contains versioning information that is dynamic, i.e., the plugin full version also includes the Git HEAD commit (and branch name).

![image](https://user-images.githubusercontent.com/12585988/164337154-86ef8261-25cf-448e-be30-580e4eca47a5.png)

_I download source code from release section, unzip it to desktop

[2022-10-23 14:03] TheRaf974 opened #35 "Incompatibility with the SCP protocol in WinSCP"
Hi,

I'm experimenting an issue with the plugin when I try to connect a WinSCP session.
The server which I'm trying to connect to, doesn't work with the SCP protocol but with SFTP protocol, yes.

In [WinScpArgumentsFormatter.cs](https://github.com/cristianst85/QuickConnectPlugin/blob/3e04d167b99782a26750e510e53d1bb4ee92b084/QuickConnectPlugin/ArgumentsFormatters/WinScpArgumentsFormatter.cs#L19), t

[2022-10-23 16:09] cristianst85 commented on #35
Hello.

I will look into it tomorrow.